@charset "utf-8";
main{
    width:80%;
    max-width: 800px;
    margin:auto;
    background-color: silver;
}
main,footer,header,article,section,div{
    border: 1px solid grey;
    padding: 5px;
}
table,td,th{
    border: 1px solid grey;
    border-collapse:collapse;
}
section{
    display:grid;
    grid-template-columns: 50px auto 50px;
}
img{
    width: 100%;
}
footer{
    text-align: center;
}
h1{
    text-align: center;
}
